.resize-triggers{
    background-image: url("backgr.jpg");
   }

.css-10trblm{
    background-color: #f5f5f5;
    border: 2px solid;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    color: #4f70d4;
    box-shadow: 10px;
   }
