.resize-triggers{
    background-image: url("backgr.jpg");
   }

.css-10trblm, .css-fis6aj-eqdbnj010{
    background-color: #f3f5e4;
    border: 2px solid;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    color: #5f73b1;
    box-shadow: 10px;
   }


